div#info { 
	height: 1000; 
	overflow: hide; 
	margin-left: 40%; 
	margin-right: 10%; 
} 

img { 
	height: 300; 
	width: 300;  
	margin-right: 10%;
} 

body { 
	background-color: #DCDCDC; 
} 